{% from "_formhelpers.html" import render_field %}

{% extends 'layout.html' %}
{% block content %}

<form class='form' method='post' enctype='multipart/form-data'>
    <section>
        {{ render_field(form.artist) }}
        {{ render_field(form.title) }}
    </section>
    <section>
        {{ render_field(form.song) }}
    </section>
    <section>
        {{ render_field(form.submit) }}
    </section>
    <section>
        {% if not error is none %}
        <p>{{ error }}</p>
        {% endif %}
    </section>
</form>

{% endblock %}